<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Para activar rutas -->
<!-- <router-outlet></router-outlet> -->
<!-- Para activar rutas -->

<!-- Codigo Inicial -->
<!-- <h1 style="text-align:center">
  Bienvenido a {{ title }}
  <div>
    <p>Nombre del Empleado:{{nombre}}</p>
    <input type="text" [ngModel]="nombre">
    <input type="text" [(ngModel)]="nombre">
    <p>Edad:{{edad}}</p>
    <p *ngIf="edad>=18">Es mayor de edad.</p>
    <p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
    <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
    <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
    <table border="1">
      <tr>
        <td>Sueldos</td>
      </tr>
      <tr *ngFor="let sueldo of sueldos">
        <td>{{sueldo}}</td>
      </tr>
    </table>
    <p>{{esActivo()}}</p>
  </div>
  
</h1>
<ng-template #menor><p>Es un menor de edad.</p></ng-template>

<p>{{contador}}</p>
<button (click)="incrementar()">Sumar 1</button>
<button (click)="decrementar()">Restar 1</button> -->
<!-- Codigo Inicial -->

<!-- Comentar y descomentar este componente: -->
<!-- <app-inventario></app-inventario> -->

<!-- Codigo para dados -->
<!-- <div style="text-align:center"> -->
  
  <!-- esto es con string -->
  
  <!-- <app-dado valor="{{valor1}}"></app-dado>
  <app-dado valor="{{valor2}}"></app-dado>
  <app-dado valor="{{valor3}}"></app-dado> -->

  <!-- esto es con string -->

  <!-- esto es con number, y se usa property binding, usarla si se quiere trabajar con mumero o u tipo de dato-->
  <!-- <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado> -->
  <!-- esto es con number, y se usa property binding, no interpolacion -->
    
  <!-- <hr>
  <button (click)="tirar()">Tirar</button>  
  <hr> -->

  <!-- <p>Resultado:{{resultado}}</p> -->
<!-- </div> -->

<!-- Codigo para dados -->

<!-- Codigo para dados, pero hablando element/dados -->
<!-- <div style="text-align:center">
  <app-dado [valor]="6"></app-dado>
</div> -->
<!-- Codigo para dados, pero hablando element/dados -->

<!-- Codigo para cronometro  disparo de eventos de la hija al padre-->
<!-- <div style="text-align:center">
  <h1>Prueba de la componente cronometro</h1>
  <app-cronometro [inicio]="15" (multiplo10)="actualizar($event)"></app-cronometro>
  <h2>Evento</h2>
  <h3>{{mensaje}}</h3>
</div> -->
<!-- Codigo para cronometro -->

<!-- Codigo para Selector Numerico del padre (html) a la hija -->
<!-- <app-selectornumerico [minimo]="1" [maximo]="10" #selector1></app-selectornumerico>

<br>
<button (click)="selector1.fijar(1)">Fijar en 1</button><br>
<button (click)="selector1.fijar(5)">Fijar en 5</button><br>
<button (click)="selector1.fijar(10)">Fijar en 10</button> -->
<!-- Codigo para Selector Numerico -->

<!-- Codigo para Selector Numerico 2 desde la clase (ts) padre -->
<!-- <div>
  <app-selectornumerico [minimo]="1" [maximo]="10" #selector1></app-selectornumerico>
  <br>  
  <button (click)="fijarSelector1(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector1(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector1(10)">Fijar en 10</button>
  <hr>
  <app-selectornumerico [minimo]="1" [maximo]="10" #selector2></app-selectornumerico>    
  <br>
  <button (click)="fijarSelector2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(10)">Fijar en 10</button>  
</div> -->
<!-- Codigo para Selector Numerico 2-->

<!-- Codigo para listado articulos -->
<!-- <app-listadoarticulos [datos]="articulos"></app-listadoarticulos> -->
<!-- Codigo para listado articulos -->

<!-- Codigo para listado de articulos, sin el componente app-listadoarticulos, y usando un servicio HTTP
en el init de app.component.ts para recuperar los articulos -->
<!-- Tambien sirve con el servicio en archivo: servicearticulos.service.ts -->

<!-- <div *ngIf="articulos!=null; else espera">
  <table border="1">
    <tr>
      <td>Codigo</td><td>Descripcion</td><td>Precio</td>
    </tr>
    <tr *ngFor="let art of articulos">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
    </tr>
  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template> -->

<!-- Tambien sirve con el servicio en archivo: servicearticulos.service.ts -->
<!-- Codigo para listado de articulos, sin el componente app-listadoarticulos, y usando un servicio HTTP
en el init de aqui para recuperar los articulos -->

<!-- Bootstap Ejemplo 1 -->

<!-- <div class="container">
  <div class="jumbotron">
    <h1>Angular con Bootstrap</h1>
    <p>Bootstrap 4 es un framework de CSS que nos facilita y estandariza el desarrollo de sitios web.<br>
      Se ha implementado pensando que se adapte tanto a las pantallas de equipos de
      escritorio como a móviles y tablets.</p>
    <p>Bootstrap 4 ha sido desarrollada y es mantenida por la empresa Twitter y la ha liberado como un producto Open
      Source.</p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">Información</button>

    <div class="modal fade" id="dialogo1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Información</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
          <div class="modal-body">
            <a href="https://getbootstrap.com/">Ingresar al sitio oficial</a><br>
            <a href="https://tutorialesprogramacionya.com/bootstrap4ya">Tutorial de Bootstrap</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Bootstap Ejemplo 1 -->

<!-- Bootstrap barra de menu -->

<!-- <div class="container">
  <boot-barramenu [opciones]="opciones" colorfondo="bg-info" (presionopcion)="presionenpadre($event)"></boot-barramenu>  
  
</div> -->

<!-- Bootstrap barra de menu -->

<!-- Codigo para root-table -->
<!-- <div class="container">
  <boot-tabla [titulos]="titulosColumnas" [filas]="post" *ngIf="post!=null"></boot-tabla>
</div> -->
<!-- Codigo para root-table -->

<!-- Codigo para operaciones basicas -->
<app-operacionesbasicas></app-operacionesbasicas>
<!-- Codigo para operaciones basicas -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

